
:root{
  --slider-color: rgba(24, 148, 131, 0.4);
  --primary-color: #ff94b9;
  --secondary-color: #245ce7;
  --accent1-color: #4c0bd1;
  --accent2-color: #7900ff;
  --accent3-color: #cb88ff;
  --accent4-color: #00c4cc;
  --accent5-color: #343397;
  --dark-color: #121640;
  --pink-color: #e43397;
}

*{
  margin: 0%;
  /* border:2px solid white ; */
  font-family: 'Zoika Font', sans-serif;
}

.app{
height: 100vh;
background-color: var(--primary-color);

/* background-color: #ff94b960;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='250' height='30' patternUnits='userSpaceOnUse' patternTransform='scale(4.61)'%3E%3Cpath id='a' data-color='outline' fill='none' stroke='%23FFF' stroke-width='5' d='M-62.5-15C-31.3-15 0-7.5 0-7.5S31.3 0 62.5 0 125-7.5 125-7.5s31.3-7.5 62.5-7.5S250-7.5 250-7.5 281.3 0 312.5 0'%3E%3C/path%3E%3Cuse xlink:href='%23a' y='15'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='30'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='45'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
background-size: cover;
background-position: center;
background-repeat: no-repeat; */


}

.homepage-card{
  background-color: var(--primary-color);
  /* padding: 5rem 0rem 5rem; */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100vh;
  /* box-shadow: 0 0 30px 20px #cb88ff67; */
}

.slider-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container{
 padding-top: 2.5rem;

  
}

.horizontal-slider {
  width: 100%;
  max-width: 1000px;
  height: 10vh;
  margin-left: 10%;
  margin-right: 10%;
}
.example-thumb {
  cursor: pointer;
  position:relative;
  z-index: 100;
  background: var(--accent2-color);
  border: 5px solid var(--accent2-color);
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 var(--slider-color);
}

.example-track1, .example-track2, .example-track3 {
  position: relative;
  background: white;
  border-radius: 4rem;
}
.example-track1.example-track1-0, .example-track3.example-track3-0 {
  background: var(--accent5-color);
}

.example-track2.example-track2-0{
  background: var(--secondary-color);
}

.example-track3.example-track3-0{
  background: var(--accent4-color);
}

.horizontal-slider .example-track1, .example-track2, .example-track3 {
  top: 20px;
  height: 40px;
}
.horizontal-slider .example-thumb {
  top: 14px;
  width: 40px;
  outline: none;
  height: 40px;
  line-height: 38px;
}

p{
  color: white;
}

.loading{
  color: white;
}

.heading{
  color: var(--secondary-color);
  text-align: center;
}

body{
  color: white;
  font-size: large;
}
.thumb-value{
  margin: 2rem;
}

.logo, .dark-logo{
  display: block;
  height: 40vh;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

.basic-logo{
  display: block;
  height: 35vh;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

.basic-logo, .dark-logo{
  padding-top: 2rem;
}

button {
padding: 0.75rem 1rem;
font-size: 1rem;
border-radius: 0.8rem;
border: none;
justify-items: space-between;
cursor: pointer;
background-color: var(--accent3-color);
color: white;
}

button{
  background-color: var(--accent2-color);
  height: 4rem;
  width: 4rem;
  font-size: 40px;
}

/* body {
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.wave,
.wave::before,
.wave::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background-color: transparent;
  border-radius: 38% 42%;
  box-shadow: inset 0 0 10vw rgba(255,0,255,0.8);
  animation: spin 16s infinite linear;
  mix-blend-mode: multiply;
}

.wave::before {
  width: 105%;
  height: 95%;
  margin-top: -125vw;
  transform-origin: 49% 51%;
  border-radius: 40% 38%;
  box-shadow: inset 0 0 10vw rgba(255,255,0,0.8);
  animation: spin 13s infinite linear;
}

.wave::after {
  width: 102%;
  height: 98%;
  margin-top: -125vw;
  transform-origin: 51% 49%;
  border-radius: 48% 42%;
  box-shadow: inset 0 0 10vw rgba(0,255,255,0.8);
  animation: spin 10s infinite linear;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
} */


.playlist-page{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem 5rem 
}

.playlist-container{
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  box-shadow: 0 0 12px 4px #8231c057;
  
  margin:4px, 4px;
  padding:4px;
  background-color: var(--accent3-color);
  width: 31rem;
  height: 21rem;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
            

}

.video-container{
  box-shadow: 0 0 12px 4px #8231c057;
 
}

/* .video-player {
 height: 100%;
 width: 100%;
 min-height: 225px;
} */


.song{
  width: 30vw;
padding: 1rem;
display: flex;
justify-content: space-between;
max-width: 28rem;
}

.song-info{
width: 70%;
text-align: left;
}

.song-title{
  font-size: 30px;
}

.artist-name{
  font-size: 20px;
}

.landing-card{
  display: flex;
  align-items: center;
  background-color: var(--dark-color);
  flex-direction: column;
height: 100%;
  
}

.landing-logo{
  margin-top:5rem;

}

.start-button{
font-size: 2rem;
color: var(--pink-color);
padding-bottom: 3rem;
}

a{
  text-decoration: none;

}

.landing-text{
  width: 50%;
  text-align: justify;
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 1.3rem;
}

.intro-text{
  padding-top: 2rem;
}