/* @import url(//db.onlinewebfonts.com/c/a919779c7bf67165eaeaa5375be6fe90?family=Genty+Demo); */

:root{
  --slider-color: rgba(24, 148, 131, 0.4);
  --primary-color: #ff94b9;
  --secondary-color: #245ce7;
  --accent1-color: #4c0bd1;
  --accent2-color: #7900ff;
  --accent3-color: #cb88ff;
  --accent4-color: #00c4cc;
  --accent5-color: #343397;
}

*{
  margin: 0%;
  /* border:2px solid white ; */
  font-family: 'Zoika Font', sans-serif;
}

.app{
height: 100vh;
background-color:var(--primary-color);
}

.slider-container{
  text-align: center;
  padding: 5rem 0rem 5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.horizontal-slider {
  width: 100%;
  max-width: 1000px;
  height: 10vh;
  margin-left: 10%;
  margin-right: 10%;
}
.example-thumb {
  cursor: pointer;
  position:relative;
  z-index: 100;
  background: var(--accent2-color);
  border: 5px solid var(--accent2-color);
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 var(--slider-color);
}

.example-track1, .example-track2, .example-track3 {
  position: relative;
  background: white;
  border-radius: 4rem;
}
.example-track1.example-track1-0, .example-track3.example-track3-0 {
  background: var(--accent5-color);
}

.example-track2.example-track2-0{
  background: var(--secondary-color);
}

.example-track3.example-track3-0{
  background: var(--accent4-color);
}

.horizontal-slider .example-track1, .example-track2, .example-track3 {
  top: 20px;
  height: 40px;
}
.horizontal-slider .example-thumb {
  top: 14px;
  width: 40px;
  outline: none;
  height: 40px;
  line-height: 38px;
}

p{
  color: white;
}

.loading{
  color: white;
}

.heading{
  color: white;
  text-align: center;
}

body{
  color: white;
    font-size: large;
}
.thumb-value{
  margin: 2rem;
}

.logo{
  display: block;
  height: 20rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

button {
padding: 0.75rem 1rem;
font-size: 1rem;
border-radius: 0.8rem;
border: none;
justify-items: space-between;
cursor: pointer;
background-color: var(--accent3-color);
color: white;
}

button, .submit-btn{
  background-color: var(--accent2-color);
  height: 4rem;
  width: 4rem;
  font-size: 40px;
}