:root{
  --slider-color: rgba(24, 148, 131, 0.4);
  --primary-color: #ff94b9;
  --secondary-color: #245ce7;
  --accent1-color: #4c0bd1;
  --accent2-color: #7900ff;
  --accent3-color: #cb88ff;
  --accent4-color: #00c4cc;
  --accent5-color: #343397;
}

*{
  margin: 0%;
  border:2px solid white ;
}

.app{
height: 100vh;
background-color:rgba(24, 148, 131, 0.4);
}

.slider-container{
  text-align: center;
  padding-top: 10rem;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 5vh;
  margin: auto;
}
.example-thumb {
  cursor: pointer;
  position:relative;
  z-index: 100;
  background: var(--slider-color);
  border: 5px solid rgba(24, 148, 131, 0.9);
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 var(--slider-color);
}
.example-thumb.active {
  background-color: var(--slider-color);
}
.example-track {
  position: relative;
  background: white;
  border-radius: 1rem;
}
.example-track.example-track-0 {
  background: var(--slider-color);
}
.horizontal-slider .example-track {
  top: 20px;
  height: 16px;
}
.horizontal-slider .example-thumb {
  top: 20px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}

p{
  color: white;
}

.loading{
  color: white;
}

.heading{
  color: white;
  text-align: center;
}

body{
  color: white;
    font-size: large;
}
.thumb-value{
  margin: 2rem;
}
